<div data-controller="questionnaire">

  <div class="row" id="main-panel">
    <div class="col-md-12">
      <h2><%= questionnaire.name %></h2>
      <%= raw questionnaire.description %>

      <div id="question-section">

        <div id="x-accordion" role="tablist">
          <% questionnaire.belonging_sections.order(:position).each do |belonging_section| %>
            <%= render belonging_section.question_section,
                       questionnaire: questionnaire,
                       unique_ident: unique_ident,
                       show_required: false,
                       locked: questionnaire.is_locked?(unique_ident, false),
                       admin: admin %>
          <% end %>
        </div>
      </div>

      <%= render 'aflier_survey/questionnaires/submission_bar',
                 questionnaire: questionnaire,
                 unique_ident: unique_ident, submitted: questionnaire.is_submitted?(unique_ident) %>

      <br><br>

    </div>
  </div>

  <div class="modal fade" id="answer-required" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog " role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Required Questions</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Thank you for submitting your answers, however there are questions that require answers. Please answer
          the questions highlighted.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


</div>