<div class="text-center mt-5" id="submissions-bar">

  <% if questionnaire.is_submitted?(unique_ident) %>
    <div class="btn btn-success btn-lg disabled" style="margin-bottom: 2em;">
      Submitted!
    </div>
    <%= raw questionnaire.thank_you %>
  <% elsif questionnaire.is_saved?(unique_ident) %>
    <span class="btn btn-outline-primary btn-lg disabled">Saved!</span>
    <% if questionnaire.include_submit %>
      <div data-questionnaire-target="submit" data-action="click->questionnaire#submit">
      <%= link_to "Save and Submit",
                  aflier_survey.submit_questionnaire_path(questionnaire, unique_ident: unique_ident),
                  id: "save-and-submit",
                  class: "btn btn-primary btn-lg",
                  remote: true %>
      </div>
    <% end %>
  <% else %>
    <%= link_to "Save", aflier_survey.save_questionnaire_path(questionnaire, unique_ident: unique_ident), class: "btn btn-primary btn-lg", remote: true %>
    <% if questionnaire.include_submit %>
      <div data-questionnaire-target="submit" data-action="click->questionnaire#submit">
      <%= link_to "Save and Submit",
                  aflier_survey.submit_questionnaire_path(questionnaire, unique_ident: unique_ident),
                  id: "save-and-submit",
                  class: "btn btn-primary btn-lg",
                  remote: true %>
      </div>
    <% end %>
  <% end %>

  <script>
      $( "#save-and-submit" ).click(function() {
          $('#waiting').modal('show');
      });
  </script>

</div>