<h1>Editing Questionnaire Submission</h1>

<%= render 'form', questionnaire_submission: @questionnaire_submission %>

<%= link_to 'Show', @questionnaire_submission %> |
<%= link_to 'Back', questionnaire_submissions_path %>
