<% if false %>

<% if questionnaire.complete_on_sections %>

  <div class="card-footer text-right" id="card-footer-<%= question_section.id %>">
    <% if question_section.is_complete?(user) %>
      <i class="far fa-check-square" aria-hidden="true"></i>
    <% else %>
      <%= link_to 'Complete', complete_question_section_path(question_section, user_id: user.id), class: "btn btn-sm btn-outline-primary", remote: true %>
    <% end %>
  </div>

<% end %>

<% end %>