<button type="button" class="btn btn-block" data-toggle="modal" data-target="#newquestion_section">
  New Question Section
</button>

<div class="modal fade" id="newquestion_section" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <%= simple_form_for(@question_section) do |f| %>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New Question section</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
              <%= f.input :name %>
              <%= f.input :description %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.button :submit, class: 'btn-outline-primary' %>
        </div>
      </div>
    </div>
  <% end %>
</div>