<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>Question Sections</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="card shadow mb-3"
         data-controller="supertable"
         data-supertable-create-url="<%= question_sections_path %>"
         data-supertable-filter-url="<%=  %>">
      <div class="card-header">Question Sections</div>
      <div class="card-body">
        <table class="table">
          <thead>
          <tr>
            <th>Name</th>
            <th></th>
          </tr>
          </thead>

          <tbody data-supertable-target="content">
          <% @question_sections.each do |question_section| %>
            <%= render 'question_section_tr', question_section: question_section %>
          <% end %>
          </tbody>
        </table>
      </div>
      <div class="card-footer">
        <%= render 'form_create' %>
      </div>
    </div>
  </div>
</div>