<div class="row">
  <div class="col-md-12">
    <h1>Dashboard for <%= @user.email %></h1>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <ul class="nav flex-column nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="#">Profile???</a>
      </li>
      <li class="nav-item">
        <%= link_to 'Questionnaire', my_manage_user_path(@user), remote: true, class: "nav-link active" %>
      </li>
    </ul>
  </div>
  <div class="col-md-9">
    <%= render 'aflier_survey/questionnaires/questionnaire', questionnaire: @questionnaire, user: @user %>
  </div>

  <script>
    <% @question_section.belonging_sections.each do |belonging_section| %>
      $('#collapse<%= belonging_section.id %>').collapse('show')
    <% end %>
  </script>
</div>